<!DOCTYPE html>
<html>
<head>
    <title>ВКР-{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='site-style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

{% block menu %}
<div class="navbar">
    <a class="main">ВКР</a>
    <a href="{{ url_for('index') }}" class="{{ target }}">Главная страница</a>
    <a href="{{ url_for('elastic') }}" class="{{ target1 }}">Модуль упругости при растяжении</a>
    <a href="{{ url_for('strength') }}" class="{{ target2 }}">Прочность при растяжении</a>
    <a href="{{ url_for('filler_matrix') }}" class="{{ target3 }}">Соотношение матрица-наполнитель</a>
</div>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>